@mixin placing($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($weight, $style: normal, $size, $align: center) {
  font-family: "Roboto", sans-serif;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  text-align: $align;
}
