@use "../../styles/global" as gb;
.row {
  @include gb.placing($direction: row, $align: center, $justify: space-between);
}
.column {
  @include gb.placing(
    $direction: column,
    $justify: space-around,
    $align: center
  );
}
.weight-title {
  @include gb.font($weight: 900, $size: 24px);
}
.weight-time {
  @include gb.font($weight: 900, $size: 18px);
}
.cross-icon {
  width: 20px;
  fill: white;
  position: absolute;
  right: 5px;
  margin: 5px;
}
.background {
  background-color: #573ba3;
  color: white;
}
.margin {
  margin: 20px;
}
.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.width {
  width: 300px;
  margin-bottom: 10px;
}
.border {
  border: 1px solid;
  font-weight: 400;
  padding: 5px;
}
.background-subtitle {
  background-color: #ffeee6;
  text-decoration: underline;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
