@media (max-width: 1023px) {
  .navbar-1024,
  .input-area-1024,
  .nav-logos-1024 {
    display: none;
  }
  .nav {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-menu {
    width: 10vw;
    height: 30px;
  }
  .main-logo {
    width: auto;
    height: 60px;
    position: absolute;
    left: calc(50vw - 40px);
    img {
      height: 60px;
      width: auto;
    }
  }

  .nav-logos {
    width: 22vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-icon {
      width: 10vw;
      height: auto;
      .user-icon-svg {
        fill: black;
        width: 40px;
      }
    }
    .cart-icon {
      width: 10vw;
      height: auto;
      .cart-icon-svg {
        fill: black;
        width: 40px;
      }
    }
  }
  .input-area {
    width: 100vw;
    height: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .magnify {
      position: absolute;
      right: 23px;
      height: 30px;
      width: auto;
      .magnify-icon {
        height: 30px;
        width: auto;
      }
    }
    input {
      height: 30px;
      width: 95vw;
      border-radius: 10px;
    }
  }
  .booklist {
    width: 90vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding-top: 20px;
    .booklist-header {
      font-size: 30px;
      padding: 20px;
      font-weight: bold;
    }
    .book-wrapper {
      width: 150px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .book {
      width: 150px;
      height: auto;
      padding-right: 5px;
      img {
        width: 150px;
        height: auto;
        object-fit: cover;
      }
    }
  }
  footer {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .footer-first {
      width: 95vw;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 5px solid black;
      margin-top: 15px;
      .footer-text {
        text-align: center;
        width: 80vw;
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      .store-icons {
        width: 50vw;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          object-fit: cover;
          height: auto;
          width: 100px;
          padding: 10px;
        }
      }
    }
    .footer-headers {
      width: 90vw;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
    }
    .social-media {
      width: 30vw;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .follow {
        text-align: center;
        width: 80vw;
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      .social-media-icons {
        width: 40vw;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        svg {
          fill: black;
          width: 30px;
          height: auto;
        }
      }
    }
    .end-of-footer {
      width: 90vw;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .payments,
      .last-text {
        font-size: 18px;
        font-weight: bold;
      }
      img {
        height: auto;
        width: 100px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .navbar-1024 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    img {
      width: auto;
      height: 60px;
    }
    .input-area-1024 {
      width: 40vw;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
      }
      .magnify {
        position: absolute;
        left: 53vw;
        height: 40px;
        width: auto;
        .magnify-icon {
          height: 40px;
          width: auto;
        }
      }
    }
    .nav-logos-1024 {
      width: 30vw;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .cart-icon {
        width: 7vw;
        height: auto;
        .cart-icon-svg {
          fill: black;
          width: 40px;
        }
      }
    }
  }
  .navbar {
    display: none !important;
  }
  .left-menu {
    width: 10vw;
    height: 30px;
  }
  .main-logo {
    width: auto;
    height: 60px;
    position: absolute;
    left: calc(50vw - 40px);
    img {
      height: 60px;
      width: auto;
    }
  }

  .nav-logos {
    width: 22vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-icon {
      width: 10vw;
      height: auto;
      .user-icon-svg {
        fill: black;
        width: 40px;
      }
    }
    .cart-icon {
      width: 10vw;
      height: auto;
      .cart-icon-svg {
        fill: black;
        width: 40px;
      }
    }
  }
  .input-area {
    display: none;
  }
  .booklist {
    width: 90vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding-top: 20px;
    .booklist-header {
      font-size: 30px;
      padding: 20px;
      font-weight: bold;
    }
    .book-wrapper {
      width: 150px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .book {
      width: 150px;
      height: auto;
      padding-right: 5px;
      img {
        width: 150px;
        height: auto;
        object-fit: cover;
      }
    }
  }
  footer {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .footer-first {
      width: 95vw;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 5px solid black;
      margin-top: 15px;
      .footer-text {
        text-align: center;
        width: 80vw;
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      .store-icons {
        width: 50vw;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          object-fit: cover;
          height: auto;
          width: 100px;
          padding: 10px;
        }
      }
    }
    .footer-headers {
      width: 90vw;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
    }
    .social-media {
      width: 30vw;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .follow {
        text-align: center;
        width: 80vw;
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      .social-media-icons {
        width: 40vw;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        svg {
          fill: black;
          width: 30px;
          height: auto;
        }
      }
    }
    .end-of-footer {
      width: 90vw;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .payments,
      .last-text {
        font-size: 18px;
        font-weight: bold;
      }
      img {
        height: auto;
        width: 100px;
      }
    }
  }
}
